
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    height:60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header > .lists{
    height: 100%;
    width: 40%;
    align-content: center;

}
.lists > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li{
        cursor: pointer;
}

.logo{
    margin-top: 13px;
      margin-left: 30px;

}


.text :first-child{
color: #71AA38;
font-size: 24px;
margin-top: -8px;
}
.text :last-child{
    color: #252B33;
    margin-top: -9px;
    font-size: x-small 
}

.content{
display: flex;
background: linear-gradient(#EBEBEB,#EBEBEB);
}

.left{
width: 560px;
height: 150px;
margin-top: 50px;
margin-left: 30px;
}

.img img{
    width: 560px;
    height: 400px;  
}

.app{
    display: flex;
    flex-direction: column;
}

.app :first-child{
    font-size: 60px;
    font-weight: 600;
    line-height:70px;
    color: #71AA38;
}

.app :last-child{
   font-size: 60px;
    font-weight: 600;
    line-height: 70px; 
}

.para{
    margin-top: 15px;
    font-size: 14px;
}

.buttons{
    margin-top: 20px;  
}

.buttons :first-child{
    padding: 10px;
    justify-content: space-evenly;
    background-color: #71AA38;
    border-radius: 10px;
    font-size: small;
    color: white;
    border: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
.buttons :last-child{
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 10px;
    font-size: small;
    margin-left: 25px;
    border: 1px solid #71AA38;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
.content >.right{
    width: 200px;
    height: 100px;  
}

.footer{
    background-image: url(./media/Group\ 162922.svg);
    height: 380px;
    width: 100%;
    margin-top: -50px;

} 