*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.torn{
    position: relative;
}
.left{
    position: absolute;
    top: 340px;
    left: 100px;
    height: 500px;
    width: 600px;
    color:#FFFFFF;
}
h1{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 550;
}
p{
    text-transform: capitalize;
    margin-top: 20px;
}

.google{
    padding-top: 25px;
    margin-left: -23px;  
}

.phone{
    position: absolute;
    top: 76px;
    left: 850px;
}
.milk{
position: absolute;
top: 530px;
left: 1110px;
}




