*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero{
    background-image: url(./media/image\ 300.svg);
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero img{
    width: 100%;
    display: block;
}
.right{
    width: 450px;
    height: 400px;
    border-radius: 35px;
    background-color: #FFFFFF;
    padding: 20px;
    position: absolute;
    top: 50px;    
    right: 120px;   
}

span{
    text-transform: uppercase;
    text-decoration: underline;
    color: #71AA38;
    margin-left: 15px;
    font-size: small;
}

h3{
    font-size: x-large;
     margin-left: 15px;
}
.name,.mail,.msg{
    width: 380px;
    border: 1px solid grey;
    margin: 10px;
    height: 30px;
    border-radius: 8px;
    padding-left: 10px;
    
}

input:focus{
    outline: none;
}
.msg{
    height: 90px;
    padding-bottom: 50px;
}
button{
         margin-left: 15px;
         background-color: #71AA38;
         color: white;
         border: none;
         height: 40px;
         width: 130px;
         margin-top: 20px;
         border-radius: 20px;
         padding: 5px;
         cursor: pointer;

}

.footer{
     display: flex;
    position: absolute;
    justify-content: space-evenly;
    background-color: #EBEBEB;  
    gap: 250px; 
    bottom: 0px;
    width: 100%;
    height: 60px;
}

.footer .de{
    height: 50px;
    width: 150px;

    
}
.about{
    align-items: center;
    display: flex;
    list-style: none;
    margin-top: -5px;
    gap: 20px;

}
.logo{  
     display: flex;
     margin-top: 10px;
     gap: 20px;
}

.milk{
    position: absolute;
    width: 1365px;
     margin-top:28px ;
     bottom: 60px;
}
.center{
    display: flex;
    margin-top: -15px;
}

.copy{
    position: absolute;
    bottom :0px;
    font-size: small;
    left: 45%;

}