*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.page4{
    text-align: center;
    padding-top: 20px;
    
}
.page4 span{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #71AA38;
    text-decoration: underline;
    font-size: small;
  
}

.page4 h2{
font-weight: 700;
font-size: 35px;
line-height: 50px;
text-transform: capitalize;

}
.page4 .content{
    display: flex;
    justify-content: center;
}
.page4 .firstLine{
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0%;
text-align: right;
text-transform: capitalize;
margin-top:150px;
 width: 350px;

}
.page4 .lastLine{
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-top: 150px;
 width: 350px;
}
.page4 p{
    margin-bottom: 50px;
 }



.page4 .phone{
    margin-top: 24px;
}

.page4 .lLine{

    margin-top: 32px;
    margin-left: 30px;
}
.page4 .rLine{
    margin-top: 32px;
    margin-right: 30px;
}

.page4 .two,.three{
    margin-top: 20px;
    
}
.page4 .footer{
 margin-top: -700px;
 height:300px;

}
.page4 .leftLine,.rightLine{
     position: relative;
}

.page4 .dot1{
    position: absolute;
    left: 21px;
   top: 200px;
}

.page4 .dot2{
     position: absolute;
    left: 21px;
      top: 335px;
}
.page4 .dot3{
     position: absolute;
     left: 21px;
   top:470px;

}
.page4 .rdot1{
    position: absolute;
    right: 21px;
    top: 200px;
}

.page4 .rdot2{
     position: absolute;
    right: 21px;
     top: 335px;
}
.page4 .rdot3{
     position: absolute;
    right: 21px;
    top:470px;

}