
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.page1{
    position: relative;
}
.page1 .header{
    height:60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page1 .header > .lists{
    height: 100%;
    width: 40%;
    align-content: center;

}
.page1 .lists > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.page1 li{
        cursor: pointer;
}

.page1 .logo{
    margin-top: 13px;
      margin-left: 30px;

}


.page1 .text :first-child{
color: #71AA38;
font-size: 24px;
margin-top: -8px;
}
.page1 .text :last-child{
    color: #252B33;
    margin-top: -9px;
    font-size: x-small 
}

.page1 .content{
display: flex;
background: linear-gradient(#EBEBEB,#EBEBEB,#EBEBEB);
}

.page1 .left{
width: 560px;
height: 150px;
margin-top: 50px;
margin-left: 30px;
   z-index: 1;
}

.page1 .img img{
    width: 560px;
    height: 400px;  
       z-index: 1;
}

.page1 .app{
    display: flex;
    flex-direction: column;
}

.page1 .app :first-child{
    font-size: 60px;
    font-weight: 600;
    line-height:70px;
    color: #71AA38;
}

.page1 .app :last-child{
   font-size: 60px;
    font-weight: 600;
    line-height: 70px; 
}

.page1 .para{
    margin-top: 15px;
    font-size: 14px;
}

.page1 .buttons{
    margin-top: 20px;  
}

.page1 .buttons :first-child{
    padding: 10px;
    justify-content: space-evenly;
    background-color: #71AA38;
    border-radius: 10px;
    font-size: small;
    color: white;
    border: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;  
}
.page1 .buttons :last-child{
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 10px;
    font-size: small;
    margin-left: 25px;
    border: 1px solid #71AA38;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
.page1 .content >.right{
    width: 200px;
    height: 100px;  
     z-index: 1;
}

.page1 .footer .milk{
    position: absolute;
     top: 230px;
    width: 100%;
    height:500px ;
}