*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

 .header{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
 }
 .logo{
    width: 150px;
    margin: 10px;
    margin-left: 100px;
 }
 .last{
    display: flex;
    list-style: none;
    gap:20px;
    width: 40%;
    justify-content: center;
    align-items: center;
    color: grey;
 }

 li{
    cursor: pointer;
 }
 .page1 .content{
    display: flex;
    position: relative;
 }

 .page1 .content .left{
    width: 350px;
    height: 330px;
    margin-top: 100px;
    margin-left: 100px;
 }
 .page1 h2{
    font-size: xx-large;
    font-weight: 700;
 }
 .page1 p{
    margin-top: 20px;
    color: gray;
    line-height: 30px;
 }

 .page1 .consult{
    height: 50px;
    width: 150px;
    background-color: #458FF6;
    margin-top: 40px;
    border-radius: 40px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-size: medium;
 }

 .page1 .right img{
    height: 450px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
 }

 .page1 .element{
    position: absolute;
    height: 80px;
    left: 0px;
    top: 40px;
 }

 


