*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.page4{
   margin-top: 70px;
   position: relative;

}

  .page4 .content{
    display: flex;
 }

.page4 .content .left{
    width: 330px;
    height: 330px;
    margin-top: 150px;
    margin-left: 150px;
 }
  .page4 h2{
    font-size: xx-large;
    font-weight: 700;
 }
  .page4 p{
    margin-top: 20px;
    color: gray;
    line-height: 30px;
 }

  .page4 .download{
    height: 50px;
    width: 150px;
    border: 2px solid  #458FF6;
    margin-top: 40px;
    border-radius: 40px;
    padding-top: 12px;
    text-align: center;
    color:  #458FF6;
    font-size: medium;
 }

  .page4 .download img{
   margin-left: 9px;

 }
  .page4 .right img{
    height: 400px;
    margin-left: 150px;
    margin-top: 60px;
 }

  .page4 .element{
    position: absolute;
    height: 80px;
    right: 0px;
    top: 0px;
 }