*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.page2{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    background-image: url(./media/bg\ element.svg);
    background-repeat: no-repeat;
    background-position: 9px -80px;
    background-size: 660px;
    position: relative;
}
.page2 h3{
    margin-top: 15px;
    font-size: medium;
}
.page2 p{
    color: gray;
    margin-top: 10px;
    font-size: smaller;
}
.page2 .first,.sec{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
}
.page2 .box1,.box2,.box3,.box4,.box5,.box6{
    height: 230px;
    width: 230px;
    margin: 25px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    box-shadow:2px 2px 7px rgb(0,0,0,0.09);
    z-index:1 ;

}
.page2 .sec{
        margin-top: -10px;
}

.page2 .first img,.sec img{
    height: 60px;
    width: 60px;
}

.page2 .learn{
    height: 40px;
    width: 130px;
    border: 1px solid #458FF6;
    border-radius: 20px;
    color: #458FF6;
    align-content: center;
    font-size: small;
     margin-left: 45%;
     margin-top: 30px;
     margin-bottom: 30px;
}
.page2 .element{
    position: absolute;
    right:225px;
    top:325px
}


